{% include 'header.twig' %}

<a href="{{ app.request.baseUrl ~ '/' }}" class="btn"><b class="icon-chevron-left"></b> Go Back</a>

{% if data %}<pre>{{ data }}</pre>{%  endif %}

<div class="row-fluid">
        <div class="uploaded-image">
            <img src="{{ images }}" class="img-polaroid">
        </div>
</div>

<!-- table>
{% for route in routes %}
    <tr>
        <td>{{ route.path }}</td>
        <td>{{ route.methods|length > 0 ? route.methods|join(', ') : 'ANY' }}</td>
        <td>{{ route.defaults._controller }}</td>
    </tr>
{% endfor %}
</table -->

{% include 'footer.twig' %}